*{
               box-sizing: border-box;
}
.banner-heading{
               margin-left: clamp(200px, 20%, 250px);
               padding: 20px 10px;

}
.clearfix::after {
               content: "";
               display: table;
               clear: both;
}
.highlight{
               width: 60%;
               position: relative;
               background-color: #b1b3ac;
               border: 1px solid #149eb6;
               border-radius: 4px;
               margin: 0 auto;;
               padding: 1em;
}
.highlight-text {
               
               padding: 0 10px;
               width: 67%;
               
               
}

.logo{
               position: absolute;
               top: 3vh;
               right: 6vw;
               width: clamp(100px, 10vw, 200px);            
               height: auto;
}
.article-image {
               width: 50%;
               min-width: 200px;
               margin-top: 3em;
}
.float-right{
               float:right;
}
.contact-aside{
             
              position: sticky;
              float: left ;
              top: 0;
              margin: 0 0 0 2em;    
              
}
.schedule-table {
                
               text-align: center; 
               
           }
