
        html, body{
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        }
        header{
            border: darkolivegreen solid thin;
            padding: 30px; 
            /*margin: 30px; */
            background-color:  rgb(45, 60, 60);

        }
        h1 {
            color: rgb(199, 169, 129);
            margin: 0;
            padding: 20px 10px;
        }
    
        h2, h3{
            color: rgb(116, 71, 13);
            margin: 0;
            padding: 20px 10px;
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        footer{
        text-align: center;
        background-color: rgb(45, 60, 60);
        padding: 10px 0 20px;
        }
        
        address{
            color: cornsilk;
        }
        li{
            list-style-type: none;
        
        }
        
    
       footer h2{
        color:  rgb(199, 169, 129);
       }
       a:link {
                color: #593F36; 
               } /* unvisited link */
       a:visited { color:rgb(189, 149, 183); } /* visited link */
       
       a:hover { color:rgb(49, 145, 97); 
               text-decoration:none} /* mouse over link */
       
       a:active { color:yellow; }  /* selected link */

       .thumbnail {
        width: 250px;
        height: auto;
        display: block;
        margin: 10px auto;
        
       }
       
       .blog.images{
        width: 10%;
        display: block ;
        margin: 0 auto;
       }
       figure {
        text-align: center;
        margin: 0;
        padding: 0;
       }

       figcaption {
        font-size: 14px;
        color: #555;
       }

      /* .large-image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
       } */

       footer a:link{
        color: #f5f2f2; 
        
       }
         footer a:visited { 
            color:rgb(202, 176, 154); 
        }       
        footer a:hover { 
            color:rgb(94, 87, 196); 
            text-decoration:none
        } 
        footer a:active { 
            color:yellow; 
        }



