
        html, body{
            
            margin: 0;
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            line-height: 1.25;
            background-color: rgb(240, 240, 231);
        }
        header{
            border: rgb(45, 60, 60);
            padding: 30px; 
            /*margin: 30px; */
            background-color:  rgb(44, 65, 90);

        }
        h1 {
            color: rgb(180, 170, 155);
            margin: 0;
            
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 2.5rem;
            font-weight: 700;

        }
        h2{
            font-size: 1.2rem;

        }
        h3{
            font-size: 1.2rem;
        }
        h2, h3{
            color: rgb(116, 71, 13);
            margin: .5em 0;
            
            text-align: center;
            font-family: Georgia, 'Times New Roman', Times, serif;
        }
        p{
            margin: 0 0 1em;
            padding: 0 10px;
            font-size: small;
            overflow: hidden;
        }
        footer{
        text-align: center;
        background-color: rgb(45, 60, 60);
        padding: 10px 0 20px;
        }
        
        footer address{
            color:rgb(202, 176, 154);
        }
        footer li{
            list-style-type: none;
        
        }
        footer a:link{
            color: #f5f2f2; 
            
        }
        footer a:visited { 
                color:rgb(202, 176, 154); 
        }       
        footer a:hover { 
                color:rgb(129, 126, 168); 
                text-decoration:none
        } 
        footer a:active { 
                color:yellow; 
        }
        
       footer h2{
        color:  rgb(106, 80, 45);
       }
       a:link {
            color: rgb(180, 170, 155); 
               
        } 
       a:visited { 
            color:rgb(189, 149, 183); 
        } 
       
       a:hover { 
            color:rgb(49, 145, 97); 
            text-decoration:none
        } 
       
       a:active { 
        color:yellow; 
        }  

        .blog-image {
            width: 20px;
            min-width: 200px;
        }
        
       .thumbnail {
        width: 250px;
        height: auto;
        display: block;
        margin: 10px auto;
       }
       
       figure {
        text-align: center;
        margin: 0;
        padding: 0;
       }

       figcaption {
        font-size: 14px;
        color: #131212;
       }

      /* .large-image {
        width: 100%;
        height: auto;
        display: block;
        margin: 0 auto;
       } */

      .fieldset {
        margin: 0 0 50px;
      }
        .table {
            width: 100%;
            border-collapse: collapse;
            border-spacing: 10px;
        }
        table caption{
            font-weight: 800;
            font-size:1.3rem;
        }
        th, td {
            text-align: left;
            padding: 8px;
        }
        tr {
            border-bottom: thin solid black;
        }
        thead tr{
            background-color: rgb(56, 56, 169);
            color: rgb(251, 251, 251);
        }
        tbody tr:nth-child(even) {
            background-color: rgb(197, 197, 68);
        }
        tbody tr:hover{
            background-color: royalblue;
            color: violet;
        }
        th {
            background-color: #678693;
        }
        td {
            background-color: #fff;
        }
        caption {
            font-weight: bold;
            margin-bottom: 10px;
        }
        
        



